<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>My Dances</title>
</head>

<body class="sm-section">
  <header>
    <div id="header">
      <div class="nav-container">
        <nav>
          <div class="center-nav">
            <a class="nav-item" href="#">Index</a>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <div class="dances-wrapper">
    <div class="dances-body">
      <row>
        <h1>Dances I do</h1>
        <ul>
          {% for l in dances %}
          <li>{{ l[0] }} - {{ l[1] }}</li>
          {% endfor %}
        </ul>
      </row>

    </div>
  </div>

  <div class="footer-wrapper">
    <footer class="main-footer">
      <div class="left-footer">
      </div>
      <div class="center-footer">
        <a class="footer-link" href="https://github.com/sunpochin">https://github.com/sunpochin</a>
        <a class="footer-link" href="https://linkedin.com/in/sunpochin">https://linkedin.com/in/sunpochin</a>
      </div>
      <div class="right-footer">
      </div>
    </footer>
  </div>
  </div>
</body>

</html>